body {
	font-family: serif;
}

dt {
	margin-top: 1em;
	font-size: large;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

.breadcrumbs, .toc, .nav {
	font-family: sans-serif;
	font-size: small;
}

.breadcrumbs {
	margin-top: -1em;
	margin-bottom: 2em;
}